.features {
    padding: 96px 0;
    max-width: 320px;
    margin: 0 auto;
}
.icon-container {
    height: 112px;
    width: 100%;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    display: none;
    align-items: center;
    justify-content: center;
}
.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
}
.features-text {
    font-weight: 500;
}
@media screen and (min-width: 768px) {
    .features {
        max-width: 768px;
    }
    .features-list {
        column-gap: 24px;
    }
    .features-title {
        text-align: start;
    }
    .features-item {
        max-width: 356px;
    }
}
@media screen and (min-width: 1158px) {
    .features {
        max-width: 1440px;
        padding: 120px 141px;
    }
    .icon-container {
        display: flex;
    }
    .features-list {
        flex-wrap: nowrap;
    }
    .features-item {
        width: calc((100% - 72px) / 4);
    }
    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
    .features-text {
        font-weight: 400;
    }
}
