.burger-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-menu {
    max-width: 320px;
    max-height: 640px;
    position: fixed;
    top: 0; 
    left: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 72px 16px 40px;
    background-color: #FFFFFF;
    transition: top 250ms ease-in-out;
    z-index: 999;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.burger-menu.is-open {
    top: 0;
}
.burger-menu-nav {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.burger-contact-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
    .burger-menu {
        display: none;
    }
}