.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
    visibility: hidden;
}
.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.modal {
    position: relative;
    width: 288px;
    background-color: #FCFCFC;
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.close-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover,
.close-button:focus {
    background-color: #404BBF;
    border: none;
}
.close-button:hover .close-btn-icon,
.close-button:focus .close-btn-icon {
    fill: #FFFFFF;
}
.popup-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}
.input-wrapper {
    margin-bottom: 8px;
}
.input-svg-wraper {
    position: relative;
}
.form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.input-text {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2E2F42;
}
.input-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    width: 256px;
    height: 120px;
    resize: none;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #2E2F42;
}
.input-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.input-text:focus,
.input-textarea:focus {
    outline: none;
    border: 1px solid #4D5AE5;
}
.input-text:focus + .form-icon {
    fill: #4D5AE5;
}
.comment-wrapper{
    margin-bottom: 16px;
}
.form-icon {
    position: absolute;
    fill: #2E2F42;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
    fill: #FCFCFC;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.native-checkbox:checked + .checkbox-area .custom-checkbox {
    background-color: #404BBF;
}
.native-checkbox:checked+.checkbox-area .checkbox-icon {
    background-color: #404BBF;
    opacity: 1;
}
.checkbox-wrapper {
    margin-bottom: 24px;
}
.custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 7.5px;
    background-color: transparent;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-area {
    display: flex;
    align-items: center;
}
.checkbox-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.checkbox-link {
    line-height: 1.17;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4D5AE5;
}
.submit-btn {
    cursor: pointer;
    border: none;
    display: block;
    border-radius: 4px;
    padding: 16px 65px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    color: #FFFFFF;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
    .input-textarea {
        width: 360px;
    }
}